{% extends "mywebsite/base.html" %}

{% block content %}
    <div class="homecontent">    
    <h1>About Us</h1>
    <img src="/static/img/tata.jpg" alt="Building">
    <div class="contenttext">
    Tata Group (/ˈtɑːtɑː/) is an Indian multinational conglomerate headquartered in Mumbai, Maharashtra, India. Founded in 1868 by Jamsetji Tata, the company gained international recognition after purchasing several global companies. It is one of the biggest and oldest industrial groups in India. Each Tata company operates independently under the guidance and supervision of its own board of directors and shareholders.

Significant Tata affiliates include Tata Chemicals, Tata Communications, Tata Consultancy Services, Tata Consumer Products, Tata Elxsi, Tata Motors, Tata Power, Tata Steel, Jamshedpur FC, Tanishq, Voltas, Tata Cliq, Tata Projects Limited, Tata Capital, Titan, Trent, Indian Hotels Company Limited, TajAir, Vistara, Cromā and Tata Starbucks.
    <ul> 
        <li>ELECTRIC CARS</li>
        <li>TATA WATER</li>
        <li>TATA SKY</li>
        <li>TATA MOTORS</li>
        <li>Wifi Devices</li>
        <li>Switching Devices</li>
        <li>Optical Sensors</li>
    </ul> 
    </div>
    </div>
{% endblock  %}